{% extends "base.html" %}
{% block content %}


    <h2>{{ page_title }}</h2>
    <p>A company is a legal entity formed by a group of individuals to engage in and operate a business—commercial or
        industrial—enterprise. A company may be organized in various ways for tax and financial liability purposes depending
        on the corporate law of its jurisdiction. The line of business the company is in will generally determine which
        business structure it chooses such as a partnership, proprietorship, or corporation. These structures also denote
        the ownership structure of the company. They can also be distinguished between private and public companies. Both
        have different ownership structures, regulations, and financial reporting requirements.
    </p>

    {% for member in company %}

        <div class="row featurette">

            {% if loop.index % 2 != 0%}

            <div class="col-md-7">
                <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                <p>{{ member.description }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
            </div>

            {% else %}

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>

            {% endif %}

        </div>
    
        {% if loop.index != loop.length %}

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}